/* frontend */
.social-aggregator-feed, .social-aggregator-feed li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* backend */
.social_aggregator_plugin_wrapper {
  position: relative;
  background: #ffffff;
  padding: 10px 10px 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 0px #ddd;
}
.social_aggregator_plugin_wrapper h3 {
  margin-top: 0px;
}
.social_aggregator_plugin_wrapper .plugin-active_wrapper {
  position: absolute;
  top: 10px;
  right: 10px;
}